<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="card create-card has-background-light">
      <h1 class="title">Create New List</h1>
      <input #listTitleInput type="text" class="input is-medium" placeholder="List Name">
      <div class="buttons is-right pt-3">
        <button routerLink="/" class="button is-danger">Cancel</button>
        <button class="button is-primary has-text-white" (click)="createList(listTitleInput.value)">Create</button>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" routerLink="/"></button>
</div>
