@import '../../../../main-styles';

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;

  .login-box {
    padding: pxToRem(35);
  }
}
