// Aqui e onde ficam as importações, estilos globais e variáveis.

// Importando Fontes e inserindo variáveis

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto:wght@400;700&display=swap');

$turquoise: #44DDD0;
$green: #27D7A1;
$light-green: #45F69E;
$dark-green: #006450;

$light: #F8F8F8;

// Mudando variáveis globais do bulma

$family-sans-serif: 'Nunito', 'sans-serif';
$primary: $green;
$link: $turquoise;

// Mudando variáveis de componente bulma

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Estilos globais

html {
  background-image: linear-gradient(to left top, #04e5c3, #00dfc3, #00d9c2, #00d2c1, #00ccc0, #00c7be, #00c1bc, #00bcba, #00b6b7, #00b0b5, #00aab1, #00a4ae);
}

html, body {
  height: 100%;
}

// Função px para rem

@function pxToRem($px) {
  @return calc($px / 16) + rem;
}

.create-card {
  min-height: pxToRem(200);
  width: 100%;
  padding: pxToRem(35);
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;

  .login-box {
    padding: pxToRem(35);
    width: pxToRem(340);
  }

  .bottom-field {
    display: flex;
    justify-content: flex-end;
  }
}
