<div class="centered-content">
  <div class="task-manager-content is-large">

    <div class="sidebar px-5 py-5 has-background-white">
      <div class="top-bar">
        <h1 class="title has-text-primary">
          Lists
        </h1>
        <button (click)="onClickLogout()" class="button is-danger is-inverted">
          <span class="icon is-small">
            <i class="fa-solid fa-right-from-bracket"></i>
          </span>
        </button>
      </div>

      <!-- Listas -->

      <div class="list-menu">
        <a class="list-menu-item" *ngFor="let list of lists" routerLinkActive="is-active" [routerLink]="['/lists', list._id]">
          <p>{{ list.title }}</p>
        </a>
      </div>

      <button routerLink="/new-list" class="button is-primary has-text-white">+ New List</button>
    </div>

    <div class="task-list-container px-5 py-5 has-background-light">
      <div *ngIf="tasks">
        <!-- Tarefas -->
        <div class="top-bar">
          <h1 class="title has-text-primary">
            Tasks
          </h1>

          <div class="dropdown is-hoverable is-right">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="icon is-small">
                  <i class="fas fa-cog" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a [routerLink]="['/edit-list', selectedListId]" class="dropdown-item">
                  Edit
                </a>
                <a (click)="onClickDeleteList()" class="dropdown-item has-text-danger">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)"
          [ngClass]="{ 'completed': task.completed }">
          <div class="task-text">
            <p>{{ task.title }}</p>
          </div>
          <div class="buttons are-small">
            <button class="button" [routerLink]="['/lists', selectedListId ,'edit-task', task._id]">
              <i class="fas fa-pen-to-square"></i>
            </button>
            <button (click)="onClickDeleteTask(task._id)" class="button is-danger">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>

        <h3 *ngIf="tasks.length === 0" class="has-text-grey-light is-size-4 has-text-centered">Please create a task on the button down below</h3>

        <button routerLink="./new-task" class="circle-add-button button is-primary has-text-white">
          <img src="../../../../assets/plus-icon.svg">
        </button>
      </div>

      <div *ngIf="!tasks">
        <h3 class="has-text-grey-light is-size-4 is-uppercase has-text-centered">Please create or select a list</h3>
      </div>
    </div>

  </div>
</div>
